*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Overpass', 'Ubuntu', sans-serif;
}
.container{
    padding: 0 10%;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}



.menu li:hover {
  /* display: inline-block; */
  /* background-color:#4c9e9e; */
  transition: 0.3s ease;
}

/* .menu li + li {
  margin-top: 12px;
} */

input[type=checkbox]:checked ~ .menu {
  display: block;
}

.hamburger {
  display: block;
}

.dropdown {
  left: 0;
  top: 30px;
  transform: translateX(0%);
  color: #1F3E5A;
}

.dropdown li:hover {
  background-color: transparent;

}


/* mobile */
.bg-orange{
    background-image: url("/assets/images/bg-orange.png");
    display: flex;
    flex-direction: column;
    gap: 5em;
    justify-content: center;
    padding: 4em 10% 6em 10%;
    border-radius: 0 0 0 7em;
}

    .orange-text{
        display: flex;
        flex-direction: column;
        gap: 3em;
    }
    .hero-header{
        color: #FFF;
        text-align: center;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: -1.08px;
    }
    .hero-para{
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-weight: 300;
    }
    .hero-btn{
        display: flex;
        justify-content: center;
        gap: 0.7em;
    }
    .btn-white{
        background-color: #fff;
        color: #FF505C;
        text-align: right;
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 700;
        border-radius: 2em;
        border: none;
        padding: 15px 17px;
    }
    .btn-transparent{
        background-color: transparent;
        color: #fff;
        text-align: right;
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 700;
        border-radius: 2em;
        border: 1px solid #fff;
        padding: 15px 17px;
    }
    .design{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3em;
        padding: 30em 10%;
    }
    .design-content{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .design-text{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .design-image{
        display: flex;
        justify-content: center;
    }
    .design-image2{
        display: none;
    }
    .design-header{
        color: #1F3E5A;
        text-align: center;
        font-family: 'Overpass';
        font-size: 28px;
        font-weight: 600;
        letter-spacing: -0.84px;
    }
    .designh1{
        color: #1F3E5A;
        text-align: center;
        font-family: 'Overpass';
        font-size: 28px;
        font-weight: 600;
        line-height: 32px;
    }
    .design-paragraph{
        color: #4C5862;
        text-align: center;
        font-family: 'Overpass';
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.5px;
    }
    .halfbg{
        display: none;
    }
    
    .bg-blue{
        position: relative;
        max-width: 100vw;
        height: 625px;
    }
    .bg-phone{
        max-width: 100vw;
        width: 100%;
        bottom: 0;
        max-height: 925px;
        text-align: center;
        height: 629px;
    }
    .web-phone, .webtwophones{
        display: none;
    }
    
    .bgcontent{
        position: absolute;
        bottom: 15%;
        max-width: 768px;
        width: 100%;
        padding: 0 10% 0 10%;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    
    .blueh1{
        color: #FFF;
        text-align: center;
        font-family: 'Overpass';
        font-size: 40px;
        font-weight: 600;
        letter-spacing: -1.2px;
    }
    .bluepara{
        color: #FFF;
        font-family: 'Overpass';
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.5px;
    }
    .laptop{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .bg-laptop{
        max-width: 100vw;
        width: 100%;
    }
    .lap-pics{
        display: none;
    }
    .laptop-content{
        display: flex;
        flex-direction: column;
        gap: 3.2em;
        justify-content: center;
    }
    .lap-text{
        display: flex;
        flex-direction: column;
        gap: 1em;
        text-align: center;
    }
    .laptoph1{
        color: #1F3E5A;
        font-family: 'Overpass';
        font-size: 28px;
        font-weight: 600;
        line-height: 32px;
    }
    .laptop-para{
        color: #4C5862;
        font-family: 'Overpass';
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        letter-spacing: 0.5px;
    }


    .footer{
        border-radius: 0px 100px 0px 0px;
        background: #24242C;
        padding: 5em 0;
        display: flex;
        flex-direction: column;
        gap: 2em;
        color: #FFF;
    }
    .footer-items{
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        text-align: center;
    }
    .footer-title{
        text-align: center;
        font-family: 'Ubuntu';
        font-size: 18px;
        font-weight: 600;
        line-height: 33px;
    }
    .footer-links{
        display: flex;
        flex-direction: column;
        gap: 0.7em;
    }
    .foot-links{
        text-decoration: none;
        color: #FFF;
        font-family: 'Ubuntu';
        font-size: 18px;
        font-weight: 400;
        line-height: 33px;
    }
    .footer .logo{
        height: 40px;
    }

     /* NAVBAR STYLING STARTS */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px; */
  background-color: transparent;
  color: #fff;
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
 .menu {
  display:none;
  position: absolute;
  background-color: #fff;
  color: #24242C;
  right: 0;
  left: 0;
  text-align: center;
  /* padding: 16px 0; */
} 




.menu li:hover {
  /* background-color: #4c9e9e; */
  border-bottom: 1px #fff solid;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li a{
  padding: 15px 14px;
  color: #24242C;
}

/* DROPDOWN MENU */
.services {
  position: relative; 
}

.dropdown {
  background-color: #ffffff;
  color: #1F3E5A;
  padding: 1em 0;
  position: absolute; 
  left: 0;
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

/* .dropdown li:hover {
  background-color: #4c9e9e;
} */

.services:hover .dropdown {
  display: block;
  background-color: #fff;
}

input[type=checkbox] {
  display: none;
} 
.menu-btns{
  display: none;
}

    
    
    
    @media (min-width: 815px){
  
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 50px;
    user-select: none;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;

  }
  .menu {
    
    display: flex;
    position: static;
    gap: 200px;
    font-size: 18px;
    background-color: transparent;
    justify-content: space-between;
    /* max-width: fit-content; */
    /* width: -webkit-fill-available; */
    align-items: center;
  }
  .menu .links{
    display: flex;
  }
  .links li a{
    color: #fff;
  }
  .sign-btns, .websign-btns{
    display: flex;
    gap: 32px;
    align-items: center;
  }

  .btn-login{
    color: #fff;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: 700;
  }

  .btn-signup{
    border-radius: 28px;
    background: #FF7B86;
    color: #fff;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: 700;
    padding: 15px 39px;
    border: none;
  }
  .logo-links{
    display: flex;
    gap: 5em;
  }
  





  .dropdown {
    background-color: #ffffff;
    color: #1F3E5A;
    padding: 1em 0;
    position: absolute; 
    /* left: 0; */
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  
 


    .orange-text{
        display: flex;
        flex-direction: column;
    }
    .hero-header{
        color: #FFF;
        font-size: 64px;
        letter-spacing: -1.92px;
        
    }
    .design{
        padding: 7em 0 7em 10%;
        
    }
    .halfbg{
        display: block;
    }
    .design-content{
        display: flex;
        flex-direction: row;
    }
    .design-text{
        justify-content: center;
    }

    .design-image{
        display: none;
    }
    .design-image2{
        display: block;
    }
    .design-header{
        font-size: 40px;
        letter-spacing: -1.2px;
    }
    .designh1{
        font-size: 28px;
        font-weight: 600;
        line-height: 28px;
    }
    .bg-phone, .twophones{
        display: none;
    }
    .web-phone{
        display: block;
        max-width: 100%;
        width: 100%;
    }
    .webtwophones{
        display: block;
    }
    .bgcontent{
        top: 0;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        gap: 2em;
        align-items: center;
        height: 400px;

    }
    .bg-blue{
        background-image: url("/assets/images/webblue.png");
        object-fit: cover;
        background-repeat: no-repeat;
        border-radius: 0 100px 0 0;
    }
    .laptop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        padding: 0 10% 0 0;
    }
    .bg-laptop{
        display: none;
    }
    .web-laptop{
        display: block;
        /* top: 25%; */
    }
    .lap-pics{
        display: block;
        position: relative;
    }
    
    .web-lapbg{
        top: 0;
        background-color: #FFF;
    }
    .lap-text{
        text-align: left;
        padding: 0;
    }

    .footer{
        border-radius: 0px 100px 0 0;
        background: #24242C;
        flex-direction: row;
        justify-content: space-around;
        padding: 10% 10%;
    }

  }